  /* ===== GENERAL RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* ===== HEADER ===== */
header {
    background: #f1f1f1;
    width: 100%;
    position: sticky;
    top: 0px;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    height: 50px; /* fixed height */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar h1 {
    font-size: 18px;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-menu li a:hover{
    color: rgb(84, 189, 224);
}

/* ===== HAMBURGER (MOBILE) ===== */
.hamburger {
    display: none; /* will enable in media query */
    cursor: pointer;
    font-size: 28px;
}

/*  first section */
.container{
    width: 1400px;
    background-color: #222;
    margin: auto;
}

.section {
  max-width: 1000px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: rgb(234, 231, 231);
  padding: 0px  10px;
}

/* Main heading */
.section h2 {
  color: #1f6fd6;
  font-size: 22px;
  margin-bottom: 5px;
  border-bottom: 2px dotted #bbb;
  padding-bottom: 5px;
}

/* Sub heading */
.section h3 {
  color: #1f6fd6;
  font-size: 22px;
  margin-top: 20px;
   border-bottom: 2px dotted #bbb;
}

/* Paragraphs */
.section p {
  font-size: 13px;
  color: #222;
  margin: 8px 0;
}

/* Bold titles */
.section p strong {
  font-weight: 600;
}

/* media query for mobile */
 @media (max-width: 768px) {
  
    .hamburger {
          display: block;
      }

      .nav-menu {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 80px;
          right: 0;
          background: white;
          width: 200px;
          padding: 20px;
      }

      .nav-menu.active {
          display: flex;
      }

  /* CV container */
  .container {
    width: 100%;
    margin: 15px auto;
    padding: 20px 15px;
  }

  /* Section headings */
  .section h2 {
    font-size: 20px;
  }

  .section h3 {
    font-size: 16px;
    margin-top: 25px;
  }

  /* Paragraphs */
  .section p {
    font-size: 14px;
    line-height: 1.6;
    padding-left: 14px;
  }

  /* Bullet spacing */
  .section p::before {
    left: 0;
  }
}


